@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  color: #141e27;
  background-color: #eeedde;
  font-family: "Roboto", sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
